
.anonimoProject {
    width: 100vw;
}

.anonimoProject .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectHeader {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectHeader .techUsed{
   color: rgb(122, 121, 121);
    font-size: 1rem;
    font-weight: 200;
    text-align: end;
    font-family: Georgia, 'Times New Roman', Times, serif;}
.projectHeader .subTitle{
    color: grey;
    font-size: 1rem;
    font-weight: 200;
    text-align: start;
    font-family: 'Times New Roman', Times, serif;
}
/* Responsive Styles */
@media screen and (max-width: 768px) {
    .anonimoProject .container {
        height: auto;
    }
}

@media screen and (max-width: 480px) {
    .projectHeader {
        height: 10vh;
        display: block !important;
    }
    .projectHeader .techUsed{
        text-align: start !important;

    }
}

